.vscode
build
horizon/3rd_party/DirectXShaderCompiler
horizon/assets/models
horizon/assets/generated_shaders
horizon/assets/envrionment
horizon/assets/shaders
horizon/assets/shaders/generated
horizon/3rd_party/
out
horizon/tools/HSLCompiler/generators/__pycache__
horizon/tools/HSLCompiler/__pycache__