[submodule "Source/ThirdParty/tracy"]
	path = Source/ThirdParty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Source/ThirdParty/D3D12MemoryAllocator"]
	path = Source/ThirdParty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "Source/ThirdParty/ags"]
	path = Source/ThirdParty/ags
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "Source/ThirdParty/nvapi"]
	path = Source/ThirdParty/nvapi
	url = https://github.com/NVIDIA/nvapi.git
