.vscode
build
horizon/3rd_party/DirectXShaderCompiler
horizon/assets/models
horizon/assets/generated_shaders
horizon/assets/envrionment
horizon/assets/shaders/bin
horizon/assets/shaders/generated
horizon/3rd_party/DirectXShaderCompiler
out
horizon/tools/HSLCompiler/generators/__pycache__
horizon/tools/HSLCompiler/__pycache__
horizon/samples/vbuffer